.row
  .col-md-12
    .page-header
      .gridactions
        button.btn.btn-default(ui-sref="talkNew")
          span.glyphicon.glyphicon-plus
          |  Add talk
      h1 Talks
    div(ui-grid="gridOptions")
